.startButton {
	background-color: #000;
	color: #fff;
	width: 50px;
	height: 60px;
	text-align: center;
	margin-left: 60px;
}

.nextButton {
	background-color: #000;
	color: #fff;
	width: 90px;
	height: 60px;
	text-align: center;
	margin-left: 60px
}

.doNotDisplay {
	display: none;
}

.resetButton {
	background-color: #000;
	color: #fff;
	width: 90px;
	height: 60px;
	text-align: center;
	margin-left: 60px
}
h1 {
	margin-left: 60px
}

.timer {
	margin-left: 60px
}
.question {
	margin-left: 60px
}

.result {
	margin-left: 60px
}